<!--
// GNU Version 3 License Copyright (c) 2020 Javier Cañon | https://javiercanon.com
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to
// deal in the Software without restriction, including without limitation the
// rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
// sell copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
// FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
// IN THE SOFTWARE.
-->
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<sectionGroup name="devExpress">
			<section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v20.1, Version=20.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v20.1, Version=20.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v20.1, Version=20.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v20.1, Version=20.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="bootstrap" type="DevExpress.Web.Bootstrap.BootstrapConfigurationSection, DevExpress.Web.Bootstrap.v20.1, Version=20.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v20.1, Version=20.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<!--  Visual Studio -->
		<add key="vs:EnableBrowserLink" value="false"/>
		<!-- Configuracion ASP.NET -->
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="false"/>
		<!-- Emails -->
		<add key="MailServer:Host" value="smtp.office365.com"/>
		<add key="MailServer:Login" value="XXXXXXXXXXXXXXXX"/>
		<add key="MailServer:Password" value="XXXXXXXXXXXXXX"/>
		<add key="MailServer:Port" value="587"/>
		<add key="MailServer:SSL.Enable" value="true"/>
		<add key="Emails:Contact" value="ventas@precisur.com.co"/>
		<add key="Emails:Support" value="javier@javiercanon.com"/>
		<!-- Log -->
		<add key="Logger:Enable" value="True"/>
		<add key="Logger:User.Enable" value="True"/>
		<add key="Logger:Developer.Enable" value="True"/>
		<add key="Logger:Cache.Enable" value="True"/>
		<add key="Logger:Errors.ToText.App_Data.Enable" value="True"/>
		<!-- mode logger files = 1, db = 2 (CHANGE BUFFER AT LEAST 10 OR MORE IN PRODUCTION ENVIRONMENT!)  -->
		<add key="Logger:ToTypeMode" value="1"/>
		<add key="Logger:User.ToTypeMode" value="2"/>
		<!-- Buffer for output, if enableDeveloperLogger = true then 1 -->
		<add key="Logger:ProductionBufferSize" value="100"/>
		<add key="log4net.Internal.Debug" value="false"/>
		<!-- General APP Config -->
		<add key="Application:Demo.DemoModeEnabled" value="False"/>
		<add key="Application:Browsers.EnableBrowserValidation" value="False"/>
		<add key="Browsers:EnableBrowserValidation" value="False"/>
		<!-- Analytics -->
		<add key="Analytics:Google.Analytics.ID" value=""/>
		<!-- Security   -->
		<add key="Security:MD5.Key" value="Security:MD5.Key"/>
		<add key="Security:Google.Recaptcha.v2.WebsiteKey" value="XXXXXXXXXXXXXXXXXXXXXXXXXXXX"/>
		<add key="Security:Google.Recaptcha.v2.SecretKey" value="XXXXXXXXXXXXXXX"/>
		<add key="Security:Google.Recaptcha.v3.WebsiteKey" value="XXXXXXXXXXXXXXXXXX"/>
		<add key="Security:Google.Recaptcha.v3.SecretKey" value="XXXXXXXXXXXXXXXXX"/>
		<!-- Optimization -->
		<add key="Optimization:Bundling.Enabled" value="false"/>
		<add key="Optimization:Javascript.UseMinifiedFiles" value="false"/>
		<add key="Optimization:CSS.UseMinifiedFiles" value="false"/>
		<!-- Development -->
		<add key="Development:DeveloperMode.Enabled" value="true"/>
		<add key="Development:DeveloperMode.ShowGenericPagesErrors" value="False"/>
		<add key="Development:DeveloperMode.ShowGlobalPageError" value="False"/>
		<!-- Databases   -->
		<add key="Databases:UseLocalDB" value="false"/>
		<!-- Debug -->
		<add key="Debug:User.ID" value="1"/>
		<add key="Debug:User.GUID" value="1111A11A-111A-11AA-AA1A-AAA1A1111AAA"/>
		<add key="Debug:User.Login" value="quorum.net"/>
		<add key="Debug:User.Alias" value="ACEHART"/>
		<add key="Debug:User.Email" value="soporte@Dalayer.com"/>
		<add key="Debug:User.FirstName" value="ACEHART"/>
		<add key="Debug:User.Rol.ID" value="1"/>
		<add key="Debug:User.Rol.GUID" value="1111A11A-111A-11AA-AA1A-AAA1A1111AAA"/>
		<add key="Debug:User.Rol.Name" value="ADMINISTRADOR"/>
		<add key="Debug:User.VoteCode" value="21133099538"/>
		<!-- Admin User Authentication -->
		<add key="Authentication:Credentials.User.Login" value="XXXXXXXXXXXXX"/>
		<add key="Authentication:Credentials.User.Password" value="XXXXXXXXXXXXXX"/>
	</appSettings>
	<connectionStrings>
		<add name="MsSqlServer.Main" connectionString="Data Source=(local);Database=XavierCMS;Integrated Security=yes;User ID=javiercanon;Password=javiercanon;Max Pool Size=300;Connection Timeout=600;" providerName="System.Data.SqlClient"/>
		<add name="MsSqlServer.Main.Development" connectionString="Data Source=(local);Database=XavierCMS;Integrated Security=yes;User ID=javiercanon;Password=javiercanon;Max Pool Size=300;Connection Timeout=600;" providerName="System.Data.SqlClient"/>
    	<!-- 
        <add name="MsSqlServer.Main" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=XavierCMS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\XavierCMS.mdf" providerName="System.Data.SqlClient"/>
        <add name="MsSqlServer.Tests" connectionString="Data Source=(local);Database=Quorum;Integrated Security=;User ID=XXXX;Password=XXXX;Max Pool Size=300;Connection Timeout=180;" providerName="System.Data.SqlClient"/>
        <add name="MsSqlServer.Log" connectionString="Data Source=(local);Database=Quorum;Integrated Security=;User ID=XXXX;Password=XXXXX;Max Pool Size=300;Connection Timeout=180;" providerName="System.Data.SqlClient"/>
        <add name="MsSqlServer.Log.User" connectionString="Data Source=(local);Database=Quorum;Integrated Security=;User ID=XXXX;Password=XXXX;Max Pool Size=300;Connection Timeout=180;" providerName="System.Data.SqlClient"/>
        -->
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.8">
			<assemblies>
				<add assembly="DevExpress.Web.Bootstrap.v20.1, Version=20.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Web.v20.1, Version=20.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.RichEdit.v20.1.Core, Version=20.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Data.v20.1, Version=20.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Web.ASPxThemes.v20.1, Version=20.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Web.ASPxHtmlEditor.v20.1, Version=20.1.7.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
		<authentication mode="None">
			<forms requireSSL="false" defaultUrl="~/Admin/Main.aspx" loginUrl="~/Admin/Login.aspx" cookieSameSite="Lax" protection="None" slidingExpiration="true" ticketCompatibilityMode="Framework40" timeout="60">
				<credentials passwordFormat="Clear">
					<user name="Admin" password="Admin"/>
				</credentials>
			</forms>
		</authentication>
		<authorization>
			<allow users="*"/>
			<!-- <deny users="?"  /> -->
		</authorization>
		<membership>
			<providers>
				<clear/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
			</providers>
		</roleManager>
		<httpHandlers>
			<add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v20.1, Version=20.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false"/>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v20.1, Version=20.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v20.1, Version=20.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
		</httpModules>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="es-MX" uiCulture="es-MX" responseHeaderEncoding="utf-8" enableBestFitResponseEncoding="false" enableClientBasedCulture="false"/>
		<trace enabled="false" localOnly="true" traceMode="SortByCategory" pageOutput="true"/>
		<caching>
			<!-- defaultProvider="AspNetInternalProvider"  DiskOutputCache-->
			<outputCache enableOutputCache="true" enableFragmentCache="true" sendCacheControlHeader="true" omitVaryStar="false" defaultProvider="AspNetInternalProvider">
				<providers>
					<!-- 
                    <add name="DiskOutputCache" type="XavierCMSWeb.Persistence.Caching.DiskOutputCacheProvider"/>
                    -->
				</providers>
			</outputCache>
			<outputCacheSettings>
				<outputCacheProfiles>
					<add name="PublicAny" duration="3600" location="Any" enabled="true" varyByParam="*"/>
					<add name="PublicAnyNoParams" duration="3600" location="Any" enabled="true" varyByParam="none"/>
					<add name="ServerAndClient" duration="3600" location="ServerAndClient" enabled="true" varyByParam="*"/>
					<add name="ServerAndClientNoParams" duration="3600" location="ServerAndClient" enabled="true" varyByParam="none"/>
					<add name="Server" duration="3600" location="Server" enabled="true" varyByParam="*"/>
					<add name="ServerNoParams" duration="3600" location="Server" enabled="true" varyByParam="none"/>
					<add name="Live" duration="60" location="Server" enabled="true" varyByParam="*"/>
				</outputCacheProfiles>
			</outputCacheSettings>
			<sqlCacheDependency enabled="false" pollTime="60000">
				<databases>
					<add name="northwind" connectionStringName="Northwind" pollTime="9000000"/>
				</databases>
			</sqlCacheDependency>
		</caching>
		<customErrors mode="Off" redirectMode="ResponseRewrite"/>
		<httpRuntime requestValidationMode="4.5" executionTimeout="110" targetFramework="4.8"/>
		<pages validateRequest="false" clientIDMode="Predictable" enableSessionState="false" enableViewState="true" enableViewStateMac="false" enableEventValidation="false" viewStateEncryptionMode="Never">
			<controls>
				<add tagPrefix="dx" namespace="DevExpress.Web" assembly="DevExpress.Web.v20.1, Version=20.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add tagPrefix="dx" namespace="DevExpress.Web.Bootstrap" assembly="DevExpress.Web.Bootstrap.v20.1, Version=20.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
			</controls>
		</pages>
		<siteMap enabled="false"/>
		<xhtmlConformance mode="Strict"/>
		<httpCookies sameSite="Lax" requireSSL="false"/>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v20.1, Version=20.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
		</modules>
		<handlers>
			<add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v20.1, Version=20.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode"/>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v20.1, Version=20.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode"/>
		</handlers>
		<validation validateIntegratedModeConfiguration="false"/>
		<security>
			<requestFiltering removeServerHeader="true" allowDoubleEscaping="true" allowHighBitCharacters="true">
				<requestLimits maxAllowedContentLength="20971520"/>
			</requestFiltering>
		</security>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By"/>
			</customHeaders>
		</httpProtocol>
		<urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true"/>
		<httpCompression doDiskSpaceLimiting="false" maxDiskSpaceUsage="1000">
			<dynamicTypes>
				<add mimeType="text/*" enabled="true"/>
				<add mimeType="message/*" enabled="true"/>
				<add mimeType="application/javascript" enabled="true"/>
				<add mimeType="application/x-javascript" enabled="true"/>
				<add mimeType="*/*" enabled="false"/>
			</dynamicTypes>
			<staticTypes>
				<add mimeType="text/*" enabled="true"/>
				<add mimeType="message/*" enabled="true"/>
				<add mimeType="application/javascript" enabled="true"/>
				<add mimeType="application/x-javascript" enabled="true"/>
				<add mimeType="*/*" enabled="false"/>
			</staticTypes>
		</httpCompression>
		<staticContent>
			<!-- cache static for days: tip use control version for html pages like js and css ex. xxx-1.0.html or xxx-1.1.js -->
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" httpExpires="365.00:00:00"/>
			<!-- Manifiest files -->
			<mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json"/>
			<!-- Google Maps can load server layers -->
			<mimeMap fileExtension=".kml" mimeType="application/vnd.google-earth.kml+xml"/>
			<mimeMap fileExtension=".kmz" mimeType="application/vnd.google-earth.kmz"/>
			<!-- compressed 7zip -->
			<mimeMap fileExtension=".7z" mimeType="application/x-7z-compressed"/>
			<!-- fonts    
           <mimeMap fileExtension=".eot" mimeType="embedded-opentype" />-->
			<mimeMap fileExtension=".webp" mimeType="image/webp"/>
		</staticContent>
		<defaultDocument>
			<files>
				<!-- 
        <clear/>
        <add value="Default.aspx"/>
        <add value="Index.html"/>
        <add value="Default.html"/>
        <add value="Default.htm"/>
        <add value="Index.htm"/>
        <add value="iisstart.htm"/>
        -->
			</files>
		</defaultDocument>
		<!-- load in memory cache -->
		<caching enabled="true" enableKernelCache="true">
			<profiles>
				<!-- dinamyc content, can varyByHeaders or varyByQueryString, default not enabled here, can control in each page, module or subfolder in app level -->
				<add extension=".aspx" location="Server" varyByQueryString="*" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="24:00:00"/>
				<add extension=".ashx" location="Server" varyByQueryString="*" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="24:00:00"/>
				<add extension=".axd" location="Server" varyByQueryString="*" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="24:00:00"/>
				<!-- static content -->
				<add extension=".html" location="Any" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="24:00:00"/>
				<add extension=".htm" location="Any" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="24:00:00"/>
				<add extension=".js" location="Any" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="24:00:00"/>
				<add extension=".css" location="Any" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="24:00:00"/>
				<add extension=".xml" location="Any" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="24:00:00"/>
				<!-- cache images -->
				<add extension=".jpg" location="Any" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="24:00:00"/>
				<add extension=".jpeg" location="Any" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="24:00:00"/>
				<add extension=".gif" location="Any" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="24:00:00"/>
				<add extension=".png" location="Any" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="24:00:00"/>
			</profiles>
		</caching>
		<applicationInitialization doAppInitAfterRestart="true"/>
		<httpErrors errorMode="Detailed" defaultResponseMode="Redirect"/>
		<rewrite>
			<rules>
				<clear/>
				<rule name="Request Ignore Rule 1" stopProcessing="true">
					<match url="^.*(.ashx|.axd).*$"/>
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
					</conditions>
					<action type="None"/>
				</rule>
				<rule name="Request Ignore Rule Admin" stopProcessing="true">
					<match url="(http|https):\/\/.*\/admin\/.*"/>
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
					</conditions>
					<action type="None" appendQueryString="true"/>
				</rule>
				<rule name="Force_HTTPS" enabled="false" stopProcessing="true">
					<match url="http://*"/>
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{HTTPS}" pattern="^OFF$"/>
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent"/>
				</rule>
				<rule name="Lower_Case_URL" enabled="true" stopProcessing="true">
					<match url="[A-Z]" ignoreCase="false"/>
					<conditions logicalGrouping="MatchAny" trackAllCaptures="false">
						<add input="{REQUEST_FILENAME}" pattern="\.aspx$"/>
						<add input="{REQUEST_FILENAME}" pattern="\." negate="true"/>
					</conditions>
					<action type="Redirect" url="{ToLower:{URL}}"/>
				</rule>
				<rule name="AddTrailingSlashRule" stopProcessing="true">
					<match url="(.*[^/])$"/>
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{URL}" pattern="\.axd$" negate="true"/>
						<add input="{URL}" pattern="\.ashx$" negate="true"/>
					</conditions>
					<action type="Redirect" url="{R:1}/"/>
				</rule>
				<rule name="Rewrite rule for RewriteMap 1" stopProcessing="true">
					<match url=".*/*/"/>
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{RewriteMap:{REQUEST_URI}}" pattern="(.+)"/>
					</conditions>
					<action type="Rewrite" url="{C:1}" appendQueryString="true"/>
				</rule>
				<rule name="RedirectUserFriendlyURL product" stopProcessing="true">
					<match url="^product\.aspx$"/>
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{REQUEST_METHOD}" pattern="^POST$" negate="true"/>
						<add input="{QUERY_STRING}" pattern="^typ=([^=&amp;]+)&amp;cat=([^=&amp;]+)&amp;sub=([^=&amp;]+)&amp;pag=([^=&amp;]+)$"/>
					</conditions>
					<action type="Redirect" url="producto/{C:2}/{C:3}/{C:4}" appendQueryString="true"/>
				</rule>
				<rule name="RedirectUserFriendlyURL service" stopProcessing="true">
					<match url="^service\.aspx$"/>
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{REQUEST_METHOD}" pattern="^POST$" negate="true"/>
						<add input="{QUERY_STRING}" pattern="^typ=([^=&amp;]+)&amp;cat=([^=&amp;]+)&amp;sub=([^=&amp;]+)&amp;pag=([^=&amp;]+)$"/>
					</conditions>
					<action type="Redirect" url="servicio/{C:2}/{C:3}/{C:4}" appendQueryString="true"/>
				</rule>
				<rule name="RedirectUserFriendlyURL solution" stopProcessing="true">
					<match url="^solution\.aspx$"/>
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{REQUEST_METHOD}" pattern="^POST$" negate="true"/>
						<add input="{QUERY_STRING}" pattern="^typ=([^=&amp;]+)&amp;cat=([^=&amp;]+)&amp;sub=([^=&amp;]+)&amp;pag=([^=&amp;]+)$"/>
					</conditions>
					<action type="Redirect" url="solution/{C:2}/{C:3}/{C:4}" appendQueryString="true"/>
				</rule>
				<rule name="RedirectUserFriendlyURL resource" stopProcessing="true">
					<match url="^resource\.aspx$"/>
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{REQUEST_METHOD}" pattern="^POST$" negate="true"/>
						<add input="{QUERY_STRING}" pattern="^typ=([^=&amp;]+)&amp;cat=([^=&amp;]+)&amp;sub=([^=&amp;]+)&amp;pag=([^=&amp;]+)$"/>
					</conditions>
					<action type="Redirect" url="recurso/{C:2}/{C:3}/{C:4}" appendQueryString="true"/>
				</rule>
				<rule name="RedirectUserFriendlyURL application" stopProcessing="true">
					<match url="^productapplication\.aspx$"/>
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{REQUEST_METHOD}" pattern="^POST$" negate="true"/>
						<add input="{QUERY_STRING}" pattern="^typ=([^=&amp;]+)&amp;cat=([^=&amp;]+)&amp;sub=([^=&amp;]+)&amp;pag=([^=&amp;]+)$"/>
					</conditions>
					<action type="Redirect" url="aplicacion/{C:2}/{C:3}/{C:4}" appendQueryString="true"/>
				</rule>
				<rule name="RedirectUserFriendlyURL industry" stopProcessing="true">
					<match url="^industry\.aspx$"/>
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{REQUEST_METHOD}" pattern="^POST$" negate="true"/>
						<add input="{QUERY_STRING}" pattern="^typ=([^=&amp;]+)&amp;cat=([^=&amp;]+)&amp;sub=([^=&amp;]+)&amp;pag=([^=&amp;]+)$"/>
					</conditions>
					<action type="Redirect" url="industria/{C:2}/{C:3}/{C:4}" appendQueryString="true"/>
				</rule>
				<rule name="RewriteUserFriendlyURL products" stopProcessing="true">
					<match url="^(productos)/([^/]+)/?$"/>
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
					<action type="Rewrite" url="products.aspx?query={R:2}"/>
				</rule>
				<rule name="RewriteUserFriendlyURL product" stopProcessing="true">
					<match url="^(producto)/([^/]+)/([^/]+)/([^/]+)/?$"/>
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
					<action type="Rewrite" url="product.aspx?typ={R:1}&amp;cat={R:2}&amp;sub={R:3}&amp;pag={R:4}"/>
				</rule>
				<rule name="RewriteUserFriendlyURL services" stopProcessing="true">
					<match url="^(servicios)/([^/]+)/?$"/>
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
					<action type="Rewrite" url="services.aspx?query={R:2}"/>
				</rule>
				<rule name="RewriteUserFriendlyURL service" stopProcessing="true">
					<match url="^(servicio)/([^/]+)/([^/]+)/([^/]+)/?$"/>
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
					<action type="Rewrite" url="service.aspx?typ={R:1}&amp;cat={R:2}&amp;sub={R:3}&amp;pag={R:4}"/>
				</rule>
				<rule name="RewriteUserFriendlyURL resources" stopProcessing="true">
					<match url="^(recursos)/([^/]+)/?$"/>
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
					<action type="Rewrite" url="resources.aspx?query={R:2}"/>
				</rule>
				<rule name="RewriteUserFriendlyURL resource" stopProcessing="true">
					<match url="^(recurso)/([^/]+)/([^/]+)/([^/]+)/?$"/>
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
					<action type="Rewrite" url="resource.aspx?typ={R:1}&amp;cat={R:2}&amp;sub={R:3}&amp;pag={R:4}"/>
				</rule>
				<rule name="RewriteUserFriendlyURL solutions" stopProcessing="true">
					<match url="^(soluciones)/([^/]+)/?$"/>
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
					<action type="Rewrite" url="solutions.aspx?query={R:2}"/>
				</rule>
				<rule name="RewriteUserFriendlyURL solution" stopProcessing="true">
					<match url="^(solucion)/([^/]+)/([^/]+)/([^/]+)/?$"/>
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
					<action type="Rewrite" url="solution.aspx?typ={R:1}&amp;cat={R:2}&amp;sub={R:3}&amp;pag={R:4}"/>
				</rule>
				<rule name="RewriteUserFriendlyURL applications" stopProcessing="true">
					<match url="^(aplicaciones)/([^/]+)/?$"/>
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
					<action type="Rewrite" url="productsapplications.aspx?query={R:2}"/>
				</rule>
				<rule name="RewriteUserFriendlyURL application" stopProcessing="true">
					<match url="^(aplicacion)/([^/]+)/([^/]+)/([^/]+)/?$"/>
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
					<action type="Rewrite" url="productapplication.aspx?typ={R:1}&amp;cat={R:2}&amp;sub={R:3}&amp;pag={R:4}"/>
				</rule>
				<rule name="RewriteUserFriendlyURL industries" stopProcessing="true">
					<match url="^(industrias)/([^/]+)/?$"/>
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
					<action type="Rewrite" url="industries.aspx?query={R:2}"/>
				</rule>
				<rule name="RewriteUserFriendlyURL industry" stopProcessing="true">
					<match url="^(industria)/([^/]+)/([^/]+)/([^/]+)/?$"/>
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
					<action type="Rewrite" url="industry.aspx?typ={R:1}&amp;cat={R:2}&amp;sub={R:3}&amp;pag={R:4}"/>
				</rule>
			</rules>
			<rewriteMaps>
				<rewriteMap name="RewriteMap">
					<add key="/productos/" value="products.aspx"/>
					<add key="/servicios/" value="services.aspx"/>
					<add key="/soluciones/" value="solutions.aspx"/>
					<add key="/aplicaciones/" value="productsapplications.aspx"/>
					<add key="/industrias/" value="industries.aspx"/>
					<add key="/recursos/" value="resources.aspx"/>
					<add key="/producto/" value="product.aspx"/>
					<add key="/servicio/" value="service.aspx"/>
					<add key="/solucion/" value="solution.aspx"/>
					<add key="/recurso/" value="resource.aspx"/>
					<add key="/aplicacion/" value="productapplication.aspx"/>
					<add key="/industria/" value="industry.aspx"/>
				</rewriteMap>
			</rewriteMaps>
			<outboundRules>
				<!-- 
                <rule name="Add HttpOnly">
                    <match serverVariable="RESPONSE_Set_Cookie" pattern=".+" />
                    <conditions>
                        <add input="{R:0}" pattern="; HttpOnly" negate="true" />
                    </conditions>
                    <action type="Rewrite" value="{R:0}; HttpOnly" />
                </rule>
                <rule name="Add Secure">
                    <match serverVariable="RESPONSE_Set_Cookie" pattern=".+" />
                    <conditions>
                        <add input="{R:0}" pattern="; Secure" negate="true" />
                    </conditions>
                    <action type="Rewrite" value="{R:0}; Secure" />
                </rule>

GENERATING IIS 500.2 ERROR:
                <rule name="OutboundRewriteUserFriendlyURL1" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^(.*/)URLRewriteModuleTestPage\.aspx\?typ=([^=&amp;]+)&amp;(?:amp;)?cat=([^=&amp;]+)&amp;(?:amp;)?sub=([^=&amp;]+)&amp;(?:amp;)?pag=([^=&amp;]+)$" />
                    <action type="Rewrite" value="{R:1}{R:2}/{R:3}/{R:4}/{R:5}/" />
                </rule>
                <preConditions>
                    <preCondition name="ResponseIsHtml1">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>

                <rule name="extensionless" stopProcessing="true">
                    <match url="(.*)\.aspx$" />
                    <action type="Redirect" url="{R:1}" redirectType="Permanent" />
                </rule>
                
                <rule name="remove extension" enabled="true">
                    <match url=".*" negate="false" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{URL}" pattern="(.*)\.(.*)" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:0}" />
                </rule>
            
                -->
			</outboundRules>
		</rewrite>
		<!-- 
        <httpLogging dontLog="true" selectiveLogging="LogError"/>
        -->
	</system.webServer>
	<devExpress>
		<bootstrap mode="Bootstrap4" iconSet="Embedded" allowClientObjectDeferredInitialization="true"/>
		<resources>
			<add type="ThirdParty"/>
			<add type="DevExtreme"/>
		</resources>
		<compression enableHtmlCompression="true" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true"/>
		<settings accessibilityCompliant="true" doctypeMode="Html5" rightToLeft="false" checkReferencesToExternalScripts="true" protectControlState="false" ieCompatibilityVersion="edge" bootstrapMode=""/>
		<errors callbackErrorRedirectUrl=""/>
		<themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" baseColor="" font=""/>
	</devExpress>
</configuration>
