<?xml version="1.0"?>
<configuration>

  <system.web>

	  <httpRuntime maxRequestLength="20480" requestPathInvalidCharacters="" requestValidationMode="0.0" executionTimeout="110" targetFramework="4.8" />

	  <pages validateRequest="false" clientIDMode="Predictable" enableSessionState="true" enableViewState="true" enableViewStateMac="true" enableEventValidation="false" viewStateEncryptionMode="Never">
          <controls>
              <add tagPrefix="dx" namespace="DevExpress.Web" assembly="DevExpress.Web.v20.1, Version=20.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
          </controls>
      </pages>

  </system.web>

    <devExpress>
        <themes enableThemesAssembly="true" styleSheetTheme="" theme="iOS" customThemeAssemblies="" baseColor="#0072C6" font="12pt 'Segoe UI'" />
    </devExpress>
    
  <system.webServer>

	  <caching enabled="false" enableKernelCache="false"></caching>
	  <rewrite>
		  <rules>
			  <clear />
		  </rules>
	  </rewrite>
	  
  </system.webServer>
</configuration>