<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="AdminMaster.master.cs" Inherits="XavierCMSWeb.Views.Masters.AdminMaster" %>

<%@ Import Namespace="XavierCMSWeb" %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server" id="head" enableviewstate="false">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <title>Xavier CMS</title>

    <script src="<%# Global.Configuration.Development.GetIsEnabledDeveloperMode() ? ResolveUrl("~/content/js/jquery-3.4.1.min.js") : "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" %>"></script>
    <script src="<%# Global.Configuration.Development.GetIsEnabledDeveloperMode() ? ResolveUrl("~/content/js/bootstrap-4.1.3.bundle.min.js") : "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js" %>"></script>
    <link rel="stylesheet" href="<%#  Global.Configuration.Development.GetIsEnabledDeveloperMode() ? ResolveUrl("~/content/css/bootstrap-4.1.3.min.css") : "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" %>" />
    <link href="~/content/css/admin-styles-1.0.0.min.css" rel="stylesheet" />

    <asp:ContentPlaceHolder ID="ContentHead" runat="server">
    </asp:ContentPlaceHolder>

</head>
<body>
    <form runat="server" id="form1">

        <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
            <div class="container-fluid">
                <div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topMenu" aria-controls="topMenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="#">Xavier CMS</a>
                </div>
                <div class="collapse navbar-collapse" id="topMenu">

                    <dx:BootstrapMenu ID="TopMenu" runat="server" ShowPopOutImages="True" ClientInstanceName="topMenu">
                        <CssClasses Control="top-menu" Menu="navbar-nav" />
                        <Items>
                            <dx:BootstrapMenuItem Text="Inicio |" Name="Home" NavigateUrl="~/Admin/Main.aspx">
                            </dx:BootstrapMenuItem>

                            <dx:BootstrapMenuItem Text="Páginas |" Name="Pages" NavigateUrl="~/Admin/Pages.aspx">

                                <Items>

                                    <dx:BootstrapMenuItem Text="Listado Páginas" Name="PageNew" NavigateUrl="~/Admin/Pages.aspx">
                                    </dx:BootstrapMenuItem>

                                    <dx:BootstrapMenuItem Text="Nueva Página" Name="PageNew" NavigateUrl="~/Admin/PageNew.aspx">
                                    </dx:BootstrapMenuItem>

                                    <dx:BootstrapMenuItem Text="Editar Descripciones" Name="PageDescription" NavigateUrl="~/Admin/PageDescEditor.aspx">
                                    </dx:BootstrapMenuItem>

                                    <dx:BootstrapMenuItem Text="Editar Contenido" Name="PageEditor" NavigateUrl="~/Admin/PageEditor.aspx">
                                    </dx:BootstrapMenuItem>

                                    <dx:BootstrapMenuItem Text="Archivos e Imagenes" Name="Files" NavigateUrl="~/Admin/Files.aspx">
                                    </dx:BootstrapMenuItem>
                                </Items>

                            </dx:BootstrapMenuItem>


                            <dx:BootstrapMenuItem Text="Herramientas |" Name="Tools">
                                <Items>
                                    <dx:BootstrapMenuItem NavigateUrl="~/Admin/ToolGenerateXMLSitemap.aspx" Text="Actualizar Archivo XML Sitemap"></dx:BootstrapMenuItem>
                                    <dx:BootstrapMenuItem NavigateUrl="~/Admin/ToolRenamePage.aspx" Text="Cambiar Nombre a Página"></dx:BootstrapMenuItem>
                                </Items>
                            </dx:BootstrapMenuItem>

                            <dx:BootstrapMenuItem Text="Tablas |" Name="Tables">
                                <Items>
                                    <dx:BootstrapMenuItem NavigateUrl="~/Admin/Tables/RegisteredUsers.aspx" Text="Usu. Registrados"></dx:BootstrapMenuItem>
                                    <dx:BootstrapMenuItem NavigateUrl="~/Admin/Tables/UsersDownloads.aspx" Text="Usu. Descargas"></dx:BootstrapMenuItem>
                                </Items>
                            </dx:BootstrapMenuItem>


                            <dx:BootstrapMenuItem Text="Ayuda">

                                <Items>
                                    <dx:BootstrapMenuItem Text="Reportar Bug" NavigateUrl="https://github.com/JavierCanon/Xavier-Static-CMS/issues" Name="Bug" Target="_blank">
                                    </dx:BootstrapMenuItem>


                                </Items>

                            </dx:BootstrapMenuItem>



                        </Items>
                    </dx:BootstrapMenu>

                    <asp:LoginView ID="HeadLoginView" runat="server" EnableViewState="false">
                        <AnonymousTemplate>
                            <%-- 
                            <dx:BootstrapMenu ID="AnonymousMenu" runat="server" ShowPopOutImages="True" ItemAutoWidth="false" ClientInstanceName="topMenu">
                                <CssClasses Control="top-auth-menu" Menu="navbar-nav" />
                                <Items>
                                    <dx:BootstrapMenuItem Text="Register" Name="Register" NavigateUrl="Account/Register.aspx">
                                    </dx:BootstrapMenuItem>
                                    <dx:BootstrapMenuItem Text="Login" Name="Login" NavigateUrl="Account/Login.aspx">
                                    </dx:BootstrapMenuItem>
                                </Items>
                            </dx:BootstrapMenu>
                            --%>
                        </AnonymousTemplate>
                        <LoggedInTemplate>
                            <dx:BootstrapMenu ID="LoggedInMenu" runat="server" ShowPopOutImages="True" ItemAutoWidth="false" ClientInstanceName="topMenu" OnItemClick="LoggedInMenuMenu_ItemClick">
                                <CssClasses Control="top-auth-menu" Menu="navbar-nav" />
                                <Items>
                                    <dx:BootstrapMenuItem Text="" Name="UserName">
                                        <Template>
                                            [
                                            <asp:LoginName ID="HeadLoginName" runat="server" />
                                            ]
                                        </Template>
                                    </dx:BootstrapMenuItem>

                                    <dx:BootstrapMenuItem Text="Logout" Name="Logout">
                                    </dx:BootstrapMenuItem>
                                </Items>
                            </dx:BootstrapMenu>
                        </LoggedInTemplate>
                    </asp:LoginView>
                </div>
            </div>
        </nav>

        <div class="container-fluid">

            <asp:ContentPlaceHolder ID="ContentBody" runat="server">
            </asp:ContentPlaceHolder>

            <hr />

            <footer>
                <p>&copy; 2020 - <%: DateTime.Now.Year %> - <a href="https://github.com/JavierCanon/Xavier-Static-CMS/wiki" target="_blank"><%: XavierCMSWeb.Global.AppComercialName %></a> ver. <%: XavierCMSWeb.Global.AppVersion %> </p>
            </footer>
        </div>
    </form>

</body>
</html>
