<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>About us</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <script src="/cdn-cgi/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script><link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald:200,400%7CLato:300,400,300italic,700%7CMontserrat:900">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/mdi.css">
    <link rel="stylesheet" href="css/fl-bigmug-line.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="https://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-card/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page preloader-->
    <div class="page-loader">
      <div class="page-loader-body">
        <div class="page-loader__logo"><img src="images/logo-default-143x36.png" alt="" width="143" height="36"/>
        </div>
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-yellow">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-green">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page-->
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header breadcrumbs-custom-wrap bg-gradient bg-secondary-2">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap rd-navbar-corporate">
          <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="1px" data-lg-stick-up-offset="1px" data-stick-up="true" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true">
            <div class="rd-navbar-collapse-toggle" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            <div class="rd-navbar-inner">
              <!-- RD Navbar card-->
              <div class="rd-navbar-card">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand-name" href="index.html"><img class="logo-default" src="images/logo-default-143x36.png" alt="" width="143" height="36"/><img class="logo-inverse" src="images/logo-inverse-143x36.png" alt="" width="143" height="36"/></a></div>
              </div>
              <div class="rd-navbar-aside-center">
                <div class="rd-navbar-nav-wrap">
                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active"><a href="about-us.html">About Us</a>
                    </li>
                    <li><a href="#">Gallery</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-navbar-dropdown">
                        <li><a href="grid-gallery.html">Grid Gallery</a>
                        </li>
                        <li><a href="grid-album-gallery.html">Grid Album Gallery</a>
                        </li>
                        <li><a href="fullwidth-gallery.html">Fullwidth Gallery</a>
                        </li>
                        <li><a href="single-project.html">Single Project</a>
                        </li>
                      </ul>
                    </li>
                    <li><a href="#">Blog</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-navbar-dropdown">
                        <li><a href="classic-blog.html">Classic Blog</a>
                        </li>
                        <li><a href="grid-blog.html">Grid Blog</a>
                        </li>
                        <li><a href="masonry-blog.html">Masonry Blog</a>
                        </li>
                        <li><a href="modern-blog.html">Modern Blog</a>
                        </li>
                        <li><a href="audio-post.html">Audio Post</a>
                        </li>
                        <li><a href="image-post.html">Image Post</a>
                        </li>
                        <li><a href="single-post.html">Single Post</a>
                        </li>
                        <li><a href="video-post.html">Video Post</a>
                        </li>
                      </ul>
                    </li>
                    <li><a href="#">Pages</a>
                      <!-- RD Navbar Megamenu-->
                      <ul class="rd-navbar-megamenu">
                        <li>
                          <ul class="rd-megamenu-list">
                            <li><a href="about-me.html">About Me</a></li>
                            <li><a href="our-history.html">Our History</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="single-service.html">Single Service</a></li>
                            <li><a href="careers.html">Careers</a></li>
                            <li><a href="single-job.html">Single Job</a></li>
                          </ul>
                        </li>
                        <li>
                          <ul class="rd-megamenu-list">
                            <li><a href="login-page.html">Login Page</a></li>
                            <li><a href="registration-page.html">Registration Page</a></li>
                            <li><a href="pricing-page.html">Pricing Page</a></li>
                            <li><a href="404-page.html">404 Page</a></li>
                            <li><a href="503-page.html">503 Page</a></li>
                            <li><a href="coming-soon.html">Coming Soon</a></li>
                          </ul>
                        </li>
                        <li>
                          <ul class="rd-megamenu-list">
                            <li><a href="under-construction.html">Under Construction</a></li>
                            <li><a href="accordions.html">Accordions</a></li>
                            <li><a href="forms.html">Forms</a></li>
                            <li><a href="countdown.html">Countdown</a></li>
                            <li><a href="grid-system.html">Grid System</a></li>
                            <li><a href="tables.html">Tables</a></li>
                          </ul>
                        </li>
                        <li>
                          <ul class="rd-megamenu-list">
                            <li><a href="tabs.html">Tabs</a></li>
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="radials.html">Radials</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="tooltips.html">Tooltips</a></li>
                            <li><a href="search-results.html">Search Results</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a href="contacts.html">Contacts</a>
                    </li>
                  </ul>
                </div>
                <div class="rd-navbar-aside-right-inner">
                  <!-- RD Navbar Search-->
                  <div class="rd-navbar-search"><a class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search" href="#"><span></span></a>
                    <form class="rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                      <div class="form-wrap">
                        <label class="form-label form-label" for="rd-navbar-search-form-input">Search...</label>
                        <input class="rd-navbar-search-form-input form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off"/>
                        <div class="rd-search-results-live"></div>
                      </div>
                      <button class="rd-search-form-submit mdi mdi-magnify"></button>
                    </form>
                  </div>
                </div>
              </div>
              <div class="rd-navbar-aside-right rd-navbar-collapse text-right"><a class="button button-sm button-secondary" href="#">Book a truck</a></div>
            </div>
          </nav>
        </div>
        <!-- Breadcrumbs-->
        <section class="breadcrumbs-custom breadcrumbs-custom-svg">
          <div class="container">
            <p class="breadcrumbs-custom-subtitle">Who We Are</p>
            <p class="heading-1 breadcrumbs-custom-title">About us</p>
            <ul class="breadcrumbs-custom-path">
              <li><a href="index.html">Home</a></li>
              <li class="active">About us</li>
            </ul>
          </div>
        </section>

      </header>
      <!-- About-->
      <section class="section section-wrap">
        <div class="section-wrap-inner">
          <div class="container container-bigger">
            <div class="row row-ten row-50 justify-content-md-center justify-content-lg-start">
              <div class="col-md-9 col-lg-6">
                <div class="section-wrap-content section-lg">
                  <h3>a few words about us</h3>
                  <div class="divider divider-default"></div>
                  <div class="text-gray-light box-2-columns">
                    <p class="heading-5">At Express, our goal is to provide outstanding service to our customers and we pride ourselves on the integrity of our company and our employees.</p>
                    <p class="text-spacing-sm">We have been offering our customers first-class trucking services since 1997. What was first a local transportation company based in San Francisco, 20 years later became an international enterprise with dozens of subsidiaries and partners all over the globe.</p>
                    <p class="text-spacing-sm">Our range of services includes but is not limited to less-than-truckload, air freight, international shipping, warehousing, ocean freight, and others.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-wrap-aside section-wrap-image section-wrap-image-right"><img src="images/image-6-646x724.jpg" alt="" width="646" height="724"/>
          </div>
        </div>
      </section>

      <!-- Small Features-->
      <section class="section section-lg section-lg-alternative bg-gray-lighter">
        <div class="container-wide">
          <div class="row row-50 justify-content-sm-center text-gray-light">
            <div class="col-md-9 col-lg-6 col-xxl-3">
              <div class="thumbnail-classic flex-md-row flex-lg-column">
                <div class="thumbnail-classic-icon unit-left"><span class="icon mdi mdi-thumb-up-outline"></span></div>
                <div class="thumbnail-classic-caption unit-body">
                  <h6 class="thumbnail-classic-title">individual approach</h6>
                  <hr class="divider divider-default divider-sm"/>
                  <p class="thumbnail-classic-text">Unlike many other companies, we use an individual approach to each client and we never offer you a set of standard decisions for your business</p>
                </div>
              </div>
            </div>
            <div class="col-md-9 col-lg-6 col-xxl-3">
              <div class="thumbnail-classic flex-md-row flex-lg-column">
                <div class="thumbnail-classic-icon unit-left"><span class="icon mdi mdi-account-multiple"></span></div>
                <div class="thumbnail-classic-caption unit-body">
                  <h6 class="thumbnail-classic-title">qualified employees</h6>
                  <hr class="divider divider-default divider-sm"/>
                  <p class="thumbnail-classic-text">Express is a team of dedicated and qualified drivers, managers, and dispatchers who are ready to work for a personalized delivery solution to satisfy your needs.</p>
                </div>
              </div>
            </div>
            <div class="col-md-9 col-lg-6 col-xxl-3">
              <div class="thumbnail-classic flex-md-row flex-lg-column">
                <div class="thumbnail-classic-icon unit-left"><span class="icon mdi mdi-headset"></span></div>
                <div class="thumbnail-classic-caption unit-body">
                  <h6 class="thumbnail-classic-title">24/7 online support</h6>
                  <hr class="divider divider-default divider-sm"/>
                  <p class="thumbnail-classic-text">Our online support is available 24 hours a day to answer your every question and help you solve any issue you may have before, during, or after the delivery process.</p>
                </div>
              </div>
            </div>
            <div class="col-md-9 col-lg-6 col-xxl-3">
              <div class="thumbnail-classic flex-md-row flex-lg-column">
                <div class="thumbnail-classic-icon unit-left"><span class="icon mdi mdi-credit-card"></span></div>
                <div class="thumbnail-classic-caption unit-body">
                  <h6 class="thumbnail-classic-title">Payment Methods</h6>
                  <hr class="divider divider-default divider-sm"/>
                  <p class="thumbnail-classic-text">We provide a variety of payment methods with Express that include Paypal, Visa/Mastercard/American Express and lots of others, which can be customized.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Team-->
      <section class="section section-md bg-default text-center">
        <div class="container-wide">
          <h3>Our team</h3>
          <div class="divider divider-default"></div>
          <div class="row row-50 justify-content-sm-center">
            <div class="col-md-6 col-lg-3">
              <div class="team-classic team-classic-circle">
                <figure><img class="img-circle" src="images/team-07-300x300.jpg" alt="" width="300" height="300"/>
                </figure>
                <div class="team-classic-caption">
                  <h5><a class="team-classic-title" href="about-me.html">Sandra Ferguson</a></h5>
                  <p class="team-classic-job-position">CEO/Founder</p>
                  <ul class="list-inline list-team">
                    <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-facebook" href="#"></a></li>
                    <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-twitter" href="#"></a></li>
                    <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-instagram" href="#"></a></li>
                    <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-google-plus" href="#"></a></li>
                    <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-linkedin" href="#"></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="team-classic team-classic-circle">
                <figure><img class="img-circle" src="images/team-08-300x300.jpg" alt="" width="300" height="300"/>
                </figure>
                <div class="team-classic-caption">
                  <h5><a class="team-classic-title" href="about-me.html">Ronald Chen</a></h5>
                  <p class="team-classic-job-position">General Manager</p>
                  <ul class="list-inline list-team">
                    <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-facebook" href="#"></a></li>
                    <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-twitter" href="#"></a></li>
                    <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-instagram" href="#"></a></li>
                    <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-google-plus" href="#"></a></li>
                    <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-linkedin" href="#"></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="team-classic team-classic-circle">
                <figure><img class="img-circle" src="images/team-09-300x300.jpg" alt="" width="300" height="300"/>
                </figure>
                <div class="team-classic-caption">
                  <h5><a class="team-classic-title" href="about-me.html">Frances Watson</a></h5>
                  <p class="team-classic-job-position">Operations Manager</p>
                  <ul class="list-inline list-team">
                    <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-facebook" href="#"></a></li>
                    <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-twitter" href="#"></a></li>
                    <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-instagram" href="#"></a></li>
                    <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-google-plus" href="#"></a></li>
                    <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-linkedin" href="#"></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="team-classic team-classic-circle">
                <figure><img class="img-circle" src="images/team-10-300x300.jpg" alt="" width="300" height="300"/>
                </figure>
                <div class="team-classic-caption">
                  <h5><a class="team-classic-title" href="about-me.html">Joe Myers</a></h5>
                  <p class="team-classic-job-position">Driver</p>
                  <ul class="list-inline list-team">
                    <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-facebook" href="#"></a></li>
                    <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-twitter" href="#"></a></li>
                    <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-instagram" href="#"></a></li>
                    <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-google-plus" href="#"></a></li>
                    <li><a class="icon icon-sm-bigger icon-gray-1 mdi mdi-linkedin" href="#"></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Our history-->
      <section class="section section-lg bg-gray-lighter">
        <div class="container container-bigger">
          <div class="row row-ten row-50 justify-content-sm-center justify-content-xl-between">
            <div class="col-sm-9 col-md-12 col-xl-6">
              <h3>our history</h3>
              <div class="divider divider-default"></div>
              <p class="text-gray-light">Once Express was just a small team of drivers and managers. 20 years later, we are the trucking company recognized worldwide for our high quality delivery services, and here is how we became what we are today.</p>
            </div>
            <div class="col-sm-12">
              <!-- Owl Carousel-->
              <div class="owl-carousel time-line-horizontal" data-autoplay="true" data-items="1" data-md-items="2" data-lg-items="3" data-xl-items="3" data-xxl-items="3" data-dots="false" data-nav="false" data-stage-padding="0" data-loop="true" data-margin="15" data-lg-margin="0" data-mouse-drag="true">
                <div class="time-line-horizontal-element">
                  <div class="time-line-time">
                    <time class="wow fadeInUp" data-wow-delay=".7s" datetime="2017">April, 2016</time>
                  </div>
                  <div class="time-line-content wow fadeInUp" data-wow-delay=".7s">
                    <h5><a href="#">We gathered the team of dedicated and knowledgeable trucking specialists</a></h5>
                    <p>Before we began offering our services to a great amount of customers in the US and other countries, our founder invited dozens of experts in local and international delivery who later became a part of Express.</p>
                  </div>
                </div>
                <div class="time-line-horizontal-element">
                  <div class="time-line-time">
                    <time class="wow fadeInUp" data-wow-delay=".8s" datetime="2017">September, 2016</time>
                  </div>
                  <div class="time-line-content wow fadeInUp" data-wow-delay=".8s">
                    <h5><a href="#">We began to work worldwide</a></h5>
                    <p>After 10 years of seamless work in the USA and operating not only locally but also online as well as in other states, we organized parthership with European and Asian trucking companies.</p>
                  </div>
                </div>
                <div class="time-line-horizontal-element">
                  <div class="time-line-time">
                    <time class="wow fadeInUp" data-wow-delay=".9s" datetime="2017">March, 2017</time>
                  </div>
                  <div class="time-line-content wow fadeInUp" data-wow-delay=".9s">
                    <h5><a href="#">Express celebrates its 20th anniversary</a></h5>
                    <p>Thanks to our high level of customer service and constant improvement of our expertise level, we managed to stay on the trucking business market for 20 years. Moreover, we have amazing plans ahead of us.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- CTA Gradient-->
      <section class="section section-xs text-center bg-gradient-1">
        <div class="container-wide">
          <div class="box-cta-thin">
            <p class="big"><strong>Make the right choice!</strong>&nbsp;<span>Do you need profesional trucking services?</span>&nbsp;<a class="link-bold" href="tel:#">Call us now!</a></p>
          </div>
        </div>
      </section>

      <!-- Footer Minimal -->
      <footer class="section page-footer page-footer-minimal text-center bg-gray-darker">
        <div class="container container-wide">
          <div class="row justify-content-sm-center align-items-md-center row-30">
            <div class="col-md-10 col-lg-7 col-xl-4 text-xl-left"><a href="index.html"><img class="default-logo" src="images/logo-default-143x36.png" alt="" width="143" height="36"/><img class="inverse-logo" src="images/logo-inverse-143x36.png" alt="" width="143" height="36"/></a></div>
            <div class="col-md-10 col-lg-7 col-xl-4">
              <p class="right">&#169;&nbsp;<span class="copyright-year"></span> All Rights Reserved&nbsp;<a href="#">Terms of Use</a>&nbsp;and&nbsp;<a href="privacy-policy.html">Privacy Policy</a></p>
            </div>
            <div class="col-md-10 col-lg-7 col-xl-4 text-xl-right">
              <ul class="group-xs group-middle">
                <li><a class="icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-facebook" href="#"></a></li>
                <li><a class="icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-twitter" href="#"></a></li>
                <li><a class="icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-instagram" href="#"></a></li>
                <li><a class="icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-google" href="#"></a></li>
                <li><a class="icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-linkedin" href="#"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body><!-- Google Tag Manager --><noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P9FT69"height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-P9FT69');</script><!-- End Google Tag Manager -->
</html>