<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Modern Blog</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <script src="/cdn-cgi/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script><link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald:200,400%7CLato:300,400,300italic,700%7CMontserrat:900">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/mdi.css">
    <link rel="stylesheet" href="css/fl-bigmug-line.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="https://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-card/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page preloader-->
    <div class="page-loader">
      <div class="page-loader-body">
        <div class="page-loader__logo"><img src="images/logo-default-143x36.png" alt="" width="143" height="36"/>
        </div>
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-yellow">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-green">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page-->
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header breadcrumbs-custom-wrap bg-gradient bg-secondary-2">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap rd-navbar-corporate">
          <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="1px" data-lg-stick-up-offset="1px" data-stick-up="true" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true">
            <div class="rd-navbar-collapse-toggle" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            <div class="rd-navbar-inner">
              <!-- RD Navbar card-->
              <div class="rd-navbar-card">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand-name" href="index.html"><img class="logo-default" src="images/logo-default-143x36.png" alt="" width="143" height="36"/><img class="logo-inverse" src="images/logo-inverse-143x36.png" alt="" width="143" height="36"/></a></div>
              </div>
              <div class="rd-navbar-aside-center">
                <div class="rd-navbar-nav-wrap">
                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li><a href="about-us.html">About Us</a>
                    </li>
                    <li><a href="#">Gallery</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-navbar-dropdown">
                        <li><a href="grid-gallery.html">Grid Gallery</a>
                        </li>
                        <li><a href="grid-album-gallery.html">Grid Album Gallery</a>
                        </li>
                        <li><a href="fullwidth-gallery.html">Fullwidth Gallery</a>
                        </li>
                        <li><a href="single-project.html">Single Project</a>
                        </li>
                      </ul>
                    </li>
                    <li class="active"><a href="#">Blog</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-navbar-dropdown">
                        <li><a href="classic-blog.html">Classic Blog</a>
                        </li>
                        <li><a href="grid-blog.html">Grid Blog</a>
                        </li>
                        <li><a href="masonry-blog.html">Masonry Blog</a>
                        </li>
                        <li><a href="modern-blog.html">Modern Blog</a>
                        </li>
                        <li><a href="audio-post.html">Audio Post</a>
                        </li>
                        <li><a href="image-post.html">Image Post</a>
                        </li>
                        <li><a href="single-post.html">Single Post</a>
                        </li>
                        <li><a href="video-post.html">Video Post</a>
                        </li>
                      </ul>
                    </li>
                    <li><a href="#">Pages</a>
                      <!-- RD Navbar Megamenu-->
                      <ul class="rd-navbar-megamenu">
                        <li>
                          <ul class="rd-megamenu-list">
                            <li><a href="about-me.html">About Me</a></li>
                            <li><a href="our-history.html">Our History</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="single-service.html">Single Service</a></li>
                            <li><a href="careers.html">Careers</a></li>
                            <li><a href="single-job.html">Single Job</a></li>
                          </ul>
                        </li>
                        <li>
                          <ul class="rd-megamenu-list">
                            <li><a href="login-page.html">Login Page</a></li>
                            <li><a href="registration-page.html">Registration Page</a></li>
                            <li><a href="pricing-page.html">Pricing Page</a></li>
                            <li><a href="404-page.html">404 Page</a></li>
                            <li><a href="503-page.html">503 Page</a></li>
                            <li><a href="coming-soon.html">Coming Soon</a></li>
                          </ul>
                        </li>
                        <li>
                          <ul class="rd-megamenu-list">
                            <li><a href="under-construction.html">Under Construction</a></li>
                            <li><a href="accordions.html">Accordions</a></li>
                            <li><a href="forms.html">Forms</a></li>
                            <li><a href="countdown.html">Countdown</a></li>
                            <li><a href="grid-system.html">Grid System</a></li>
                            <li><a href="tables.html">Tables</a></li>
                          </ul>
                        </li>
                        <li>
                          <ul class="rd-megamenu-list">
                            <li><a href="tabs.html">Tabs</a></li>
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="radials.html">Radials</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="tooltips.html">Tooltips</a></li>
                            <li><a href="search-results.html">Search Results</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a href="contacts.html">Contacts</a>
                    </li>
                  </ul>
                </div>
                <div class="rd-navbar-aside-right-inner">
                  <!-- RD Navbar Search-->
                  <div class="rd-navbar-search"><a class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search" href="#"><span></span></a>
                    <form class="rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                      <div class="form-wrap">
                        <label class="form-label form-label" for="rd-navbar-search-form-input">Search...</label>
                        <input class="rd-navbar-search-form-input form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off"/>
                        <div class="rd-search-results-live"></div>
                      </div>
                      <button class="rd-search-form-submit mdi mdi-magnify"></button>
                    </form>
                  </div>
                </div>
              </div>
              <div class="rd-navbar-aside-right rd-navbar-collapse text-right"><a class="button button-sm button-secondary" href="#">Book a truck</a></div>
            </div>
          </nav>
        </div>
        <!-- Breadcrumbs-->
        <section class="breadcrumbs-custom breadcrumbs-custom-svg">
          <div class="container">
            <p class="breadcrumbs-custom-subtitle">Our News</p>
            <p class="heading-1 breadcrumbs-custom-title">Modern blog</p>
            <ul class="breadcrumbs-custom-path">
              <li><a href="index.html">Home</a></li>
              <li><a href="#">Blog</a></li>
              <li class="active">Modern blog</li>
            </ul>
          </div>
        </section>

      </header>
      <!-- Blog-->
      <section class="section section-xl bg-gray-lighter">
        <div class="container container-bigger">
          <div class="row row-ten row-50 row-md-90 justify-content-md-center justify-content-xl-between">
            <div class="col-md-9 col-lg-6 blog-modern-main text-center">
              <!-- Post modern-->
              <article class="post-modern">
                <div class="post-modern-aside">
                  <time datetime="2017">Feb 27, 2017 at 5:47 pm</time>
                  <figure class="post-modern-avatar-wrap"><img class="post-modern-avatar" src="images/post-author-1-108x108.jpg" alt="" width="108" height="108"/>
                  </figure>
                  <p class="post-modern-author"><a href="about-me.html">Ronald Chen</a></p>
                </div>
                <div class="post-modern-main"><a class="post-modern-image" href="single-post.html"><img src="images/blog-post-1-870x580.jpg" alt="" width="870" height="580"/></a>
                  <div class="post-modern-body">
                    <h5 class="post-modern-title"><a href="single-post.html">Cargo Theft is a Threat to the Industry</a></h5>
                    <p>Truck driving, without a doubt, is one of the most important career opportunities within the United States as the industry accounts for moving 70 percent of cargo along with an incredible 56 percent of America's gross domestic product (GDP). This translates to an industry worth $725 billion and employing 1 in 16 people within the United States. While to...</p>
                    <div class="post-modern-footer">
                      <div>
                        <ul class="post-modern-meta">
                          <li><span class="icon mdi mdi-tag"></span><a href="#">Trucks</a></li>
                        </ul>
                      </div>
                      <div>
                        <ul class="post-modern-info">
                          <li><span class="icon mdi mdi-eye"></span><span>193</span></li>
                          <li><a href="single-post.html"><span class="icon mdi mdi-comment"></span><span>3</span></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              <!-- Post modern-->
              <article class="post-modern">
                <div class="post-modern-aside">
                  <time datetime="2017">Feb 27, 2017 at 5:47 pm</time>
                  <figure class="post-modern-avatar-wrap"><img class="post-modern-avatar" src="images/post-author-1-108x108.jpg" alt="" width="108" height="108"/>
                  </figure>
                  <p class="post-modern-author"><a href="about-me.html">Ronald Chen</a></p>
                </div>
                <div class="post-modern-main"><a class="post-modern-image"><img src="images/blog-post-2-870x580.jpg" alt="" width="870" height="580"/></a>
                  <div class="post-modern-body">
                    <h5 class="post-modern-title"><a href="image-post.html">Things to Keep In Mind When Shipping Overseas</a></h5>
                    <p>When shipping products internationally, many things need to be considered; procedures are far more complex than for local shipments. There are a lot of additional custom regulations that should be followed and a huge amount of paperwork that needs to be sorted out. Moreover, you also need to consider the shipment costs and time it will take...</p>
                    <div class="post-modern-footer">
                      <div>
                        <ul class="post-modern-meta">
                          <li><span class="icon mdi mdi-tag"></span><a href="#">Tips & Tricks</a></li>
                        </ul>
                      </div>
                      <div>
                        <ul class="post-modern-info">
                          <li><span class="icon mdi mdi-eye"></span><span>193</span></li>
                          <li><a href="image-post.html"><span class="icon mdi mdi-comment"></span><span>3</span></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              <!-- Post modern-->
              <article class="post-modern">
                <div class="post-modern-aside">
                  <time datetime="2017">Feb 27, 2017 at 5:47 pm</time>
                  <figure class="post-modern-avatar-wrap"><img class="post-modern-avatar" src="images/post-author-1-108x108.jpg" alt="" width="108" height="108"/>
                  </figure>
                  <p class="post-modern-author"><a href="about-me.html">Ronald Chen</a></p>
                </div>
                <div class="post-modern-main"><a class="post-blog-video post-modern-video" href="video-post.html">
                    <figure><img src="images/blog-post-3-870x580.jpg" alt="" width="870" height="580"/>
                    </figure><span class="icon mdi mdi-play-circle-outline"></span></a>
                  <div class="post-modern-body">
                    <h5 class="post-modern-title"><a href="video-post.html">Truck Driving Jobs Booming: New Hires on the Rise</a></h5>
                    <p>Trucking employment reached a record high at the end of 2016; with 5,300 truck driving jobs added in December, the for-hire trucking workforce surpassed over 1.46 million drivers according to the U.S. Bureau of Labor Statistics. Express was among those increasing employee headcounts last year and our trucking company is currently hiring both...</p>
                    <div class="post-modern-footer">
                      <div>
                        <ul class="post-modern-meta">
                          <li><span class="icon mdi mdi-tag"></span><a href="#">Trucks</a></li>
                        </ul>
                      </div>
                      <div>
                        <ul class="post-modern-info">
                          <li><span class="icon mdi mdi-eye"></span><span>193</span></li>
                          <li><a href="video-post.html"><span class="icon mdi mdi-comment"></span><span>3</span></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              <!-- Blog Footer--><a class="button button-default-outline button-block button-blog" href="#">Load more posts</a>
              <ul class="pagination-custom">
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
              </ul>
            </div>
            <div class="col-md-9 col-lg-4 col-xl-3 blog-aside">
              <div class="blog-aside-item">
                <h6>Search</h6>
                <form class="rd-search rd-search-modern" action="search-results.html" method="GET">
                  <div class="form-wrap">
                    <input class="rd-search-input form-input" id="rd-search-input" type="text" name="s" autocomplete="off">
                    <label class="form-label form-label" for="rd-search-input">Search</label>
                  </div>
                  <button class="button mdi mdi-magnify" type="submit"></button>
                </form>
              </div>
              <div class="blog-aside-item">
                <h6>Archive</h6>
                <ul class="list-marked list-marked-secondary">
                  <li><a href="#">January 2017</a></li>
                  <li><a href="#">February 2017</a></li>
                  <li><a href="#">March 2017</a></li>
                  <li><a href="#">April 2017</a></li>
                  <li><a href="#">May 2017</a></li>
                </ul>
              </div>
              <div class="blog-aside-item">
                <h6>About us</h6>
                <p>We have been offering our customers first-class trucking services since 1997. What was first a local transportation company based in San Francisco, 20 years later became an international enterprise with dozens of subsidiaries and partners all over the globe.</p><a class="button button-xs button-default-outline" href="about-us.html">learn more</a>
              </div>
              <div class="blog-aside-item">
                <h6>categories</h6>
                <ul class="list-marked list-marked-secondary">
                  <li><a href="#">Delivery</a></li>
                  <li><a href="#">Tips & Tricks</a></li>
                  <li><a href="#">Reviews</a></li>
                  <li><a href="#">News</a></li>
                  <li><a href="#">Trucks</a></li>
                </ul>
              </div>
              <div class="blog-aside-item">
                <h6>recent blog posts</h6>
                <!-- Post minimal-->
                <article class="post-minimal">
                  <p class="post-minimal-title"><a href="single-post.html">How to Turn Small Talk Into Smart Conversation</a></p>
                  <time class="post-minimal-time" datetime="2017">Feb 27, 2017 at 5:47 pm</time>
                </article>
                <!-- Post minimal-->
                <article class="post-minimal">
                  <p class="post-minimal-title"><a href="single-post.html">The Top 5 Reasons Why ‘The Customer Is Always Right’ Is Wrong</a></p>
                  <time class="post-minimal-time" datetime="2017">Feb 27, 2017 at 5:47 pm</time>
                </article>
                <!-- Post minimal-->
                <article class="post-minimal">
                  <p class="post-minimal-title"><a href="single-post.html">It’s 10 AM. Do You Know What Your Sales Reps Are Doing?</a></p>
                  <time class="post-minimal-time" datetime="2017">Feb 27, 2017 at 5:47 pm</time>
                </article>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Page Footer-->
      <!-- Footer Minimal -->
      <footer class="section page-footer page-footer-minimal text-center bg-gray-darker">
        <div class="container container-wide">
          <div class="row justify-content-sm-center align-items-md-center row-30">
            <div class="col-md-10 col-lg-7 col-xl-4 text-xl-left"><a href="index.html"><img class="default-logo" src="images/logo-default-143x36.png" alt="" width="143" height="36"/><img class="inverse-logo" src="images/logo-inverse-143x36.png" alt="" width="143" height="36"/></a></div>
            <div class="col-md-10 col-lg-7 col-xl-4">
              <p class="right">&#169;&nbsp;<span class="copyright-year"></span> All Rights Reserved&nbsp;<a href="#">Terms of Use</a>&nbsp;and&nbsp;<a href="privacy-policy.html">Privacy Policy</a></p>
            </div>
            <div class="col-md-10 col-lg-7 col-xl-4 text-xl-right">
              <ul class="group-xs group-middle">
                <li><a class="icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-facebook" href="#"></a></li>
                <li><a class="icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-twitter" href="#"></a></li>
                <li><a class="icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-instagram" href="#"></a></li>
                <li><a class="icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-google" href="#"></a></li>
                <li><a class="icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-linkedin" href="#"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body><!-- Google Tag Manager --><noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P9FT69"height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-P9FT69');</script><!-- End Google Tag Manager -->
</html>