<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Services</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <script src="/cdn-cgi/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script><link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald:200,400%7CLato:300,400,300italic,700%7CMontserrat:900">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/mdi.css">
    <link rel="stylesheet" href="css/fl-bigmug-line.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="https://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-card/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page preloader-->
    <div class="page-loader">
      <div class="page-loader-body">
        <div class="page-loader__logo"><img src="images/logo-default-143x36.png" alt="" width="143" height="36"/>
        </div>
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-yellow">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-green">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page-->
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header breadcrumbs-custom-wrap bg-gradient bg-secondary-2">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap rd-navbar-corporate">
          <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="1px" data-lg-stick-up-offset="1px" data-stick-up="true" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true">
            <div class="rd-navbar-collapse-toggle" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            <div class="rd-navbar-inner">
              <!-- RD Navbar card-->
              <div class="rd-navbar-card">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand-name" href="index.html"><img class="logo-default" src="images/logo-default-143x36.png" alt="" width="143" height="36"/><img class="logo-inverse" src="images/logo-inverse-143x36.png" alt="" width="143" height="36"/></a></div>
              </div>
              <div class="rd-navbar-aside-center">
                <div class="rd-navbar-nav-wrap">
                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li><a href="about-us.html">About Us</a>
                    </li>
                    <li><a href="#">Gallery</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-navbar-dropdown">
                        <li><a href="grid-gallery.html">Grid Gallery</a>
                        </li>
                        <li><a href="grid-album-gallery.html">Grid Album Gallery</a>
                        </li>
                        <li><a href="fullwidth-gallery.html">Fullwidth Gallery</a>
                        </li>
                        <li><a href="single-project.html">Single Project</a>
                        </li>
                      </ul>
                    </li>
                    <li><a href="#">Blog</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-navbar-dropdown">
                        <li><a href="classic-blog.html">Classic Blog</a>
                        </li>
                        <li><a href="grid-blog.html">Grid Blog</a>
                        </li>
                        <li><a href="masonry-blog.html">Masonry Blog</a>
                        </li>
                        <li><a href="modern-blog.html">Modern Blog</a>
                        </li>
                        <li><a href="audio-post.html">Audio Post</a>
                        </li>
                        <li><a href="image-post.html">Image Post</a>
                        </li>
                        <li><a href="single-post.html">Single Post</a>
                        </li>
                        <li><a href="video-post.html">Video Post</a>
                        </li>
                      </ul>
                    </li>
                    <li class="active"><a href="#">Pages</a>
                      <!-- RD Navbar Megamenu-->
                      <ul class="rd-navbar-megamenu">
                        <li>
                          <ul class="rd-megamenu-list">
                            <li><a href="about-me.html">About Me</a></li>
                            <li><a href="our-history.html">Our History</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="single-service.html">Single Service</a></li>
                            <li><a href="careers.html">Careers</a></li>
                            <li><a href="single-job.html">Single Job</a></li>
                          </ul>
                        </li>
                        <li>
                          <ul class="rd-megamenu-list">
                            <li><a href="login-page.html">Login Page</a></li>
                            <li><a href="registration-page.html">Registration Page</a></li>
                            <li><a href="pricing-page.html">Pricing Page</a></li>
                            <li><a href="404-page.html">404 Page</a></li>
                            <li><a href="503-page.html">503 Page</a></li>
                            <li><a href="coming-soon.html">Coming Soon</a></li>
                          </ul>
                        </li>
                        <li>
                          <ul class="rd-megamenu-list">
                            <li><a href="under-construction.html">Under Construction</a></li>
                            <li><a href="accordions.html">Accordions</a></li>
                            <li><a href="forms.html">Forms</a></li>
                            <li><a href="countdown.html">Countdown</a></li>
                            <li><a href="grid-system.html">Grid System</a></li>
                            <li><a href="tables.html">Tables</a></li>
                          </ul>
                        </li>
                        <li>
                          <ul class="rd-megamenu-list">
                            <li><a href="tabs.html">Tabs</a></li>
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="radials.html">Radials</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="tooltips.html">Tooltips</a></li>
                            <li><a href="search-results.html">Search Results</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a href="contacts.html">Contacts</a>
                    </li>
                  </ul>
                </div>
                <div class="rd-navbar-aside-right-inner">
                  <!-- RD Navbar Search-->
                  <div class="rd-navbar-search"><a class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search" href="#"><span></span></a>
                    <form class="rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                      <div class="form-wrap">
                        <label class="form-label form-label" for="rd-navbar-search-form-input">Search...</label>
                        <input class="rd-navbar-search-form-input form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off"/>
                        <div class="rd-search-results-live"></div>
                      </div>
                      <button class="rd-search-form-submit mdi mdi-magnify"></button>
                    </form>
                  </div>
                </div>
              </div>
              <div class="rd-navbar-aside-right rd-navbar-collapse text-right"><a class="button button-sm button-secondary" href="#">Book a truck</a></div>
            </div>
          </nav>
        </div>
        <!-- Breadcrumbs-->
        <section class="breadcrumbs-custom breadcrumbs-custom-svg">
          <div class="container">
            <p class="breadcrumbs-custom-subtitle">What We Do</p>
            <p class="heading-1 breadcrumbs-custom-title">Services</p>
            <ul class="breadcrumbs-custom-path">
              <li><a href="index.html">Home</a></li>
              <li><a href="#">Pages</a></li>
              <li class="active">Services</li>
            </ul>
          </div>
        </section>

      </header>
      <!-- a few words about us-->
      <section class="section section-lg text-center text-md-left bg-default">
        <div class="container container-bigger">
          <div class="row row-ten row-50 justify-content-md-center justify-content-xl-between">
            <div class="col-md-5 col-xl-4">
              <div class="box-range-content">
                <h3>who we are</h3>
                <div class="divider divider-default"></div>
                <p class="heading-5">Express provides professional trucking and transportation services to enable our customers with the same day delivery of any cargo.</p>
                <p class="text-spacing-sm">Our numerous services include but are not limited to transportation of oversized, rare and unusual commercial and military cargo, as well as the planning, coordination and implementation/transportation of any hazardous cargos. We even provide storage services to our clients.</p><a class="button button-default-outline" href="about-us.html">learn more</a>
              </div>
            </div>
            <div class="col-md-5"><img src="images/services-5-720x459.jpg" alt="" width="720" height="459"/>
            </div>
          </div>
        </div>
      </section>

      <section class="section section-lg text-center bg-gray-darker">
        <div class="container-wide">
          <h3>what we do</h3>
          <div class="divider divider-default"></div>
          <div class="row row-50 justify-content-sm-center">
            <div class="col-sm-10 col-md-6 col-xl-3">
              <article class="box-minimal-modern">
                <div class="box-minimal-icon"><span class="icon">01</span></div>
                <h6 class="box-minimal-title">LESS-THAN-TRUCKLOAD (LTL)</h6>
                <div class="box-minimal-text">Less than truckload shipping is the transportation of relatively small freight. It allows multiple shippers to share space on the same truck.</div>
              </article>
            </div>
            <div class="col-sm-10 col-md-6 col-xl-3">
              <article class="box-minimal-modern">
                <div class="box-minimal-icon"><span class="icon">02</span></div>
                <h6 class="box-minimal-title">INTERNATIONAL SHIPPING</h6>
                <div class="box-minimal-text">Meet your international shipping needs with guaranteed time-definite and day-definite worldwide delivery based on your shipment's destination.</div>
              </article>
            </div>
            <div class="col-sm-10 col-md-6 col-xl-3">
              <article class="box-minimal-modern">
                <div class="box-minimal-icon"><span class="icon">03</span></div>
                <h6 class="box-minimal-title">AIR FREIGHT</h6>
                <div class="box-minimal-text">We offer our customers a wide variety of air freight services ona regular basis such as express, on-board courier, daily flights and consolidated services.</div>
              </article>
            </div>
            <div class="col-sm-10 col-md-6 col-xl-3">
              <article class="box-minimal-modern">
                <div class="box-minimal-icon"><span class="icon">04</span></div>
                <h6 class="box-minimal-title">Flatbed freight</h6>
                <div class="box-minimal-text">Our company specializes in an ultimately reliable transportation of flatbed, oversize and overweight freight shipments throughout the North America and Europe.</div>
              </article>
            </div>
            <div class="col-sm-10 col-md-6 col-xl-3">
              <article class="box-minimal-modern">
                <div class="box-minimal-icon"><span class="icon">05</span></div>
                <h6 class="box-minimal-title">OCEAN FREIGHT</h6>
                <div class="box-minimal-text">Express is one of the largest global freight forwarders operating within a worldwide network. Customized ocean freight solutions are at the heart of our services.</div>
              </article>
            </div>
            <div class="col-sm-10 col-md-6 col-xl-3">
              <article class="box-minimal-modern">
                <div class="box-minimal-icon"><span class="icon">06</span></div>
                <h6 class="box-minimal-title">FAST DELIVERY</h6>
                <div class="box-minimal-text">Our company has been numerously recognized as a leading provider of fast delivery services that are widely known for their reliability.</div>
              </article>
            </div>
            <div class="col-sm-10 col-md-6 col-xl-3">
              <article class="box-minimal-modern">
                <div class="box-minimal-icon"><span class="icon">07</span></div>
                <h6 class="box-minimal-title">END-TO-END SOLUTIONS</h6>
                <div class="box-minimal-text">Our end-to-end trucking solutions cover the full cycle of transportation services in order to optimize the shipping and delivery process no matter how big or small.</div>
              </article>
            </div>
            <div class="col-sm-10 col-md-6 col-xl-3">
              <article class="box-minimal-modern">
                <div class="box-minimal-icon"><span class="icon">08</span></div>
                <h6 class="box-minimal-title">WAREHOUSING</h6>
                <div class="box-minimal-text">Besides being the leading trucking transportation provider, Express is your one-stop shop when it comes to goods warehousing and distribution services.</div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <!-- testimonials-->
      <section class="section section-md text-center bg-default">
        <div class="container container-wide">
          <div class="row justify-content-md-center">
            <div class="col-md-11 col-lg-10 col-xxl-7 cell-xxl-6">
              <h3>Testimonials</h3>
              <hr class="divider divider-default">
              <!-- Owl Carousel-->
              <div class="owl-carousel owl-layout-2" data-autoplay="true" data-items="1" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false">
                <article class="quote-vertical"><img class="quote-vertical-image" src="images/quote-user-4-80x80.jpg" alt="" width="80" height="80"/>
                  <div class="quote-vertical-text">
                    <p>For the past 5 years, Express has been a great partner and absolutely vital in the development of our international shipping business. They have an excellent track record of picking up and delivering our loads on time without issue. Their dispatchers and load planners are always happy to help with whatever we throw their way.</p>
                  </div>
                  <div class="quote-vertical-footer">
                    <div class="quote-vertical-meta">
                      <p class="quote-vertical-cite">James Smith</p>
                      <p class="quote-vertical-small">Regular Customer</p>
                    </div>
                  </div>
                </article>
                <article class="quote-vertical"><img class="quote-vertical-image" src="images/quote-user-5-80x80.jpg" alt="" width="80" height="80"/>
                  <div class="quote-vertical-text">
                    <p>Express is more than a transportation company, they are a professional family. They have given us an opportunity to build and grow our business throughout years of dedicated partnership and loyalty that still remain unrivaled. They have also raised service standards due to their experienced drivers and flexibility.</p>
                  </div>
                  <div class="quote-vertical-footer">
                    <div class="quote-vertical-meta">
                      <p class="quote-vertical-cite">Mary McMillan</p>
                      <p class="quote-vertical-small">Regular Customer</p>
                    </div>
                  </div>
                </article>
                <article class="quote-vertical"><img class="quote-vertical-image" src="images/quote-user-6-80x80.jpg" alt="" width="80" height="80"/>
                  <div class="quote-vertical-text">
                    <p>Express has proven to be a very dependable trucking company. This is highlighted by their excellent communication and sense of urgency on every shipment. Their dispatchers and customer service reps are very trustworthy and customer oriented. I would recommend them to anybody looking for great rates and greater services.</p>
                  </div>
                  <div class="quote-vertical-footer">
                    <div class="quote-vertical-meta">
                      <p class="quote-vertical-cite">Hugo Contreras</p>
                      <p class="quote-vertical-small">Regular Customer</p>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section section-md text-center text-md-left bg-gradient-1">
        <div class="container-wide">
          <div class="row row-50 justify-content-sm-center">
            <div class="col-xxl-8">
              <div class="box-cta box-cta-inline">
                <div class="box-cta-inner">
                  <h3 class="box-cta-title">do you need a consultation?</h3>
                  <p>Express can give you lots of advantages, from which you will surely benefit.</p>
                </div>
                <div class="box-cta-inner"><a class="button button-secondary" href="about-us.html">learn more</a></div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Page Footer-->
      <!-- Footer Minimal -->
      <footer class="section page-footer page-footer-minimal text-center bg-gray-darker">
        <div class="container container-wide">
          <div class="row justify-content-sm-center align-items-md-center row-30">
            <div class="col-md-10 col-lg-7 col-xl-4 text-xl-left"><a href="index.html"><img class="default-logo" src="images/logo-default-143x36.png" alt="" width="143" height="36"/><img class="inverse-logo" src="images/logo-inverse-143x36.png" alt="" width="143" height="36"/></a></div>
            <div class="col-md-10 col-lg-7 col-xl-4">
              <p class="right">&#169;&nbsp;<span class="copyright-year"></span> All Rights Reserved&nbsp;<a href="#">Terms of Use</a>&nbsp;and&nbsp;<a href="privacy-policy.html">Privacy Policy</a></p>
            </div>
            <div class="col-md-10 col-lg-7 col-xl-4 text-xl-right">
              <ul class="group-xs group-middle">
                <li><a class="icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-facebook" href="#"></a></li>
                <li><a class="icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-twitter" href="#"></a></li>
                <li><a class="icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-instagram" href="#"></a></li>
                <li><a class="icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-google" href="#"></a></li>
                <li><a class="icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-linkedin" href="#"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body><!-- Google Tag Manager --><noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P9FT69"height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-P9FT69');</script><!-- End Google Tag Manager -->
</html>