<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Single Project</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <script src="/cdn-cgi/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script><link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald:200,400%7CLato:300,400,300italic,700%7CMontserrat:900">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/mdi.css">
    <link rel="stylesheet" href="css/fl-bigmug-line.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="https://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-card/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page preloader-->
    <div class="page-loader">
      <div class="page-loader-body">
        <div class="page-loader__logo"><img src="images/logo-default-143x36.png" alt="" width="143" height="36"/>
        </div>
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-yellow">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
          <div class="spinner-layer spinner-green">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page-->
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header breadcrumbs-custom-wrap bg-gradient bg-secondary-2">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap rd-navbar-corporate">
          <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-md-stick-up-offset="1px" data-lg-stick-up-offset="1px" data-stick-up="true" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true">
            <div class="rd-navbar-collapse-toggle" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            <div class="rd-navbar-inner">
              <!-- RD Navbar card-->
              <div class="rd-navbar-card">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand-name" href="index.html"><img class="logo-default" src="images/logo-default-143x36.png" alt="" width="143" height="36"/><img class="logo-inverse" src="images/logo-inverse-143x36.png" alt="" width="143" height="36"/></a></div>
              </div>
              <div class="rd-navbar-aside-center">
                <div class="rd-navbar-nav-wrap">
                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li><a href="about-us.html">About Us</a>
                    </li>
                    <li class="active"><a href="#">Gallery</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-navbar-dropdown">
                        <li><a href="grid-gallery.html">Grid Gallery</a>
                        </li>
                        <li><a href="grid-album-gallery.html">Grid Album Gallery</a>
                        </li>
                        <li><a href="fullwidth-gallery.html">Fullwidth Gallery</a>
                        </li>
                        <li><a href="single-project.html">Single Project</a>
                        </li>
                      </ul>
                    </li>
                    <li><a href="#">Blog</a>
                      <!-- RD Navbar Dropdown-->
                      <ul class="rd-navbar-dropdown">
                        <li><a href="classic-blog.html">Classic Blog</a>
                        </li>
                        <li><a href="grid-blog.html">Grid Blog</a>
                        </li>
                        <li><a href="masonry-blog.html">Masonry Blog</a>
                        </li>
                        <li><a href="modern-blog.html">Modern Blog</a>
                        </li>
                        <li><a href="audio-post.html">Audio Post</a>
                        </li>
                        <li><a href="image-post.html">Image Post</a>
                        </li>
                        <li><a href="single-post.html">Single Post</a>
                        </li>
                        <li><a href="video-post.html">Video Post</a>
                        </li>
                      </ul>
                    </li>
                    <li><a href="#">Pages</a>
                      <!-- RD Navbar Megamenu-->
                      <ul class="rd-navbar-megamenu">
                        <li>
                          <ul class="rd-megamenu-list">
                            <li><a href="about-me.html">About Me</a></li>
                            <li><a href="our-history.html">Our History</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="single-service.html">Single Service</a></li>
                            <li><a href="careers.html">Careers</a></li>
                            <li><a href="single-job.html">Single Job</a></li>
                          </ul>
                        </li>
                        <li>
                          <ul class="rd-megamenu-list">
                            <li><a href="login-page.html">Login Page</a></li>
                            <li><a href="registration-page.html">Registration Page</a></li>
                            <li><a href="pricing-page.html">Pricing Page</a></li>
                            <li><a href="404-page.html">404 Page</a></li>
                            <li><a href="503-page.html">503 Page</a></li>
                            <li><a href="coming-soon.html">Coming Soon</a></li>
                          </ul>
                        </li>
                        <li>
                          <ul class="rd-megamenu-list">
                            <li><a href="under-construction.html">Under Construction</a></li>
                            <li><a href="accordions.html">Accordions</a></li>
                            <li><a href="forms.html">Forms</a></li>
                            <li><a href="countdown.html">Countdown</a></li>
                            <li><a href="grid-system.html">Grid System</a></li>
                            <li><a href="tables.html">Tables</a></li>
                          </ul>
                        </li>
                        <li>
                          <ul class="rd-megamenu-list">
                            <li><a href="tabs.html">Tabs</a></li>
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="radials.html">Radials</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="tooltips.html">Tooltips</a></li>
                            <li><a href="search-results.html">Search Results</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a href="contacts.html">Contacts</a>
                    </li>
                  </ul>
                </div>
                <div class="rd-navbar-aside-right-inner">
                  <!-- RD Navbar Search-->
                  <div class="rd-navbar-search"><a class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search" href="#"><span></span></a>
                    <form class="rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                      <div class="form-wrap">
                        <label class="form-label form-label" for="rd-navbar-search-form-input">Search...</label>
                        <input class="rd-navbar-search-form-input form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off"/>
                        <div class="rd-search-results-live"></div>
                      </div>
                      <button class="rd-search-form-submit mdi mdi-magnify"></button>
                    </form>
                  </div>
                </div>
              </div>
              <div class="rd-navbar-aside-right rd-navbar-collapse text-right"><a class="button button-sm button-secondary" href="#">Book a truck</a></div>
            </div>
          </nav>
        </div>
        <!-- Breadcrumbs-->
        <section class="breadcrumbs-custom breadcrumbs-custom-svg">
          <div class="container">
            <p class="breadcrumbs-custom-subtitle">Organizing delivery</p>
            <p class="heading-1 breadcrumbs-custom-title">Brave</p>
            <ul class="breadcrumbs-custom-path">
              <li><a href="index.html">Home</a></li>
              <li><a href="#">Gallery</a></li>
              <li class="active">Single Project</li>
            </ul>
          </div>
        </section>

      </header>
      <!-- about this project-->
      <section class="section section-lg text-center text-md-left bg-default">
        <div class="container container-bigger">
          <div class="row row-ten row-50 justify-content-md-center justify-content-xl-between">
            <div class="col-md-7 col-xxl-6">
              <h3>about this project</h3>
              <div class="divider divider-default"></div>
              <div class="box-2-columns">
                <p class="heading-5">If you’re tired of driving worn out or poorly maintained equipment, you’re going to love our organized and reliable delivery services.</p>
                <p class="text-spacing-sm">Around the world and around the clock, you can trust our logistics and shipping services to meet your deadline. We have lots of delivery services available, so we can find a solution for you. With our delivery services, you can choose anything from overnight parcel delivery to heavyweight freight. And if you need your cargo shipping even faster, we’ll work with you to find a custom solution.</p>
                <p class="text-spacing-sm">Whatever delivery you need to make, wherever it needs to go, as a carrier with an integrated network spanning over 200 countries we've got people ready to deliver your goods.</p>
              </div>
            </div>
            <div class="col-md-3">
              <ul class="list-lg">
                <li>
                  <p><b class="text-gray-darker">Trucking Services Provider</b></p>
                  <p>Express</p>
                </li>
                <li>
                  <p><b class="text-gray-darker">Services</b></p>
                  <p>Long-Distance Delivery, Same Day Delivery, Air Freight, Ocean Freight, Warehousing</p>
                </li>
                <li>
                  <p><b class="text-gray-darker">Brief</b></p>
                  <p>Our company offers a variety of delivery solutions for your corporate and individual needs. We have everything you need to get your cargo delivered on time in any part of the world.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <!-- Trucks for you-->
      <section class="section section-lg text-center text-md-left bg-gray-lighter">
        <div class="container container-bigger">
          <div class="row row-ten row-50 justify-content-md-center justify-content-xl-between">
            <div class="col-md-4 col-xxl-3">
              <h3>Trucks for you</h3>
              <div class="divider divider-default"></div>
              <p class="heading-5">We offer sustainable and reliable trucks driven by experienced specialists all over the USA, Europe, and Asia.</p>
              <p class="text-spacing-sm">Our company offers truck fleeting to businesses throughout the world with drivers handling stops to any area and everywhere in your itinerary. All our trucks and drivers are certified and can be hired for both corporate and individual delivery.</p>
            </div>
            <div class="col-md-6"><img src="images/single-project-1-870x580.jpg" alt="" width="870" height="580"/>
            </div>
          </div>
        </div>
      </section>
      <!-- Fast delivery-->
      <section class="section section-lg text-center text-md-left bg-gray-lighter">
        <div class="container container-bigger">
          <div class="row row-ten row-50 justify-content-md-center justify-content-xl-between flex-md-row-reverse">
            <div class="col-md-5 col-xxl-3">
              <h3>Fast delivery</h3>
              <div class="divider divider-default"></div>
              <p class="heading-5">We know how crucial the timing for a trucking goods transportation is, so we work on a tight schedule!</p>
              <p class="text-spacing-sm">Each delivery task we work on can be complex and require dozens of people to contribute to its success, especially when it’s international shipping. However, there has not ever been a belated cargo delivered by our drivers and logistics managers.</p>
            </div>
            <div class="col-md-6"><img src="images/single-project-2-870x580.jpg" alt="" width="870" height="580"/>
            </div>
          </div>
        </div>
      </section>
      <!-- Secure Storage-->
      <section class="section section-lg text-center text-md-left bg-gray-lighter">
        <div class="container container-bigger">
          <div class="row row-ten row-50 justify-content-md-center justify-content-xl-between">
            <div class="col-md-4 col-xxl-3">
              <h3>Secure Storage</h3>
              <div class="divider divider-default"></div>
              <p class="heading-5">Besides offering trucks and people to organize any possible delivery, we also have highly secure storage.</p>
              <p class="text-spacing-sm">Any shipping project requires reliable and secure storage. We are always ready to offer our customers top notch warehousing services at very affordable prices. You can store your cargo at our facility up to 6 months without paying extra charges.</p>
            </div>
            <div class="col-md-6">
              <!-- Swiper-->
              <div class="swiper-container swiper-slider swiper-slider_height-1" data-loop="true" data-autoplay="3000" data-simulate-touch="false">
                <div class="swiper-wrapper">
                  <div class="swiper-slide" data-slide-bg="images/single-project-3-870x580.jpg">
                    <div class="swiper-slide-caption">
                      <div class="section-md"></div>
                    </div>
                  </div>
                  <div class="swiper-slide" data-slide-bg="images/single-project-4-870x580.jpg">
                    <div class="swiper-slide-caption">
                      <div class="section-md"></div>
                    </div>
                  </div>
                  <div class="swiper-slide" data-slide-bg="images/single-project-5-870x580.jpg">
                    <div class="swiper-slide-caption">
                      <div class="section-md"></div>
                    </div>
                  </div>
                </div>
                <!-- Swiper controls-->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-lg text-center bg-default">
        <div class="container container-wide">
          <div class="row row-50 justify-content-md-center">
            <div class="col-md-11 col-lg-10 col-xxl-7 cell-xxl-6">
              <h3>testimonials</h3>
              <div class="divider divider-default"></div>
              <!-- Owl Carousel-->
              <div class="owl-carousel owl-layout-2" data-autoplay="true" data-items="1" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false">
                <article class="quote-vertical"><img class="quote-vertical-image" src="images/quote-user-1-210x210.jpg" alt="" width="210" height="210"/>
                  <div class="quote-vertical-text">
                    <p>For the past 5 years, Express has been a great partner and absolutely vital in the development of our international shipping business. They have an excellent track record of picking up and delivering our loads on time without issue. Their dispatchers and load planners are always happy to help with whatever we throw their way.</p>
                  </div>
                  <div class="quote-vertical-meta">
                    <p class="quote-vertical-cite">James Smith</p>
                    <p class="quote-vertical-small">Regular Customer</p>
                  </div>
                </article>
                <article class="quote-vertical"><img class="quote-vertical-image" src="images/quote-user-2-210x210.jpg" alt="" width="210" height="210"/>
                  <div class="quote-vertical-text">
                    <p>Express is more than a transportation company, they are a professional family. They have given us an opportunity to build and grow our business throughout years of dedicated partnership and loyalty that still remain unrivaled. They have also raised service standards due to their experienced drivers and flexibility.</p>
                  </div>
                  <div class="quote-vertical-meta">
                    <p class="quote-vertical-cite">Mary McMillan</p>
                    <p class="quote-vertical-small">Regular Customer</p>
                  </div>
                </article>
                <article class="quote-vertical"><img class="quote-vertical-image" src="images/quote-user-3-210x210.jpg" alt="" width="210" height="210"/>
                  <div class="quote-vertical-text">
                    <p>Express has proven to be a very dependable trucking company. This is highlighted by their excellent communication and sense of urgency on every shipment. Their dispatchers and customer service reps are very trustworthy and customer oriented.  I would recommend them to anybody looking for great rates and greater services.</p>
                  </div>
                  <div class="quote-vertical-meta">
                    <p class="quote-vertical-cite">Susan Contreras</p>
                    <p class="quote-vertical-small">Regular Customer</p>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- CTA-->
      <section class="section section-xs text-center bg-gradient-1">
        <div class="container-wide">
          <div class="box-cta-thin">
            <p class="big"><span class="label-cta label-cta-primary">Hot!</span><strong>Express</strong>&nbsp;<span>is your best choice in the world of trucking companies  .&nbsp;</span><a class="link-bold" href="contacts.html">Contact us now!</a></p>
          </div>
        </div>
      </section>

      <!-- Page Footer-->
      <!-- Footer Minimal -->
      <footer class="section page-footer page-footer-minimal text-center bg-gray-darker">
        <div class="container container-wide">
          <div class="row justify-content-sm-center align-items-md-center row-30">
            <div class="col-md-10 col-lg-7 col-xl-4 text-xl-left"><a href="index.html"><img class="default-logo" src="images/logo-default-143x36.png" alt="" width="143" height="36"/><img class="inverse-logo" src="images/logo-inverse-143x36.png" alt="" width="143" height="36"/></a></div>
            <div class="col-md-10 col-lg-7 col-xl-4">
              <p class="right">&#169;&nbsp;<span class="copyright-year"></span> All Rights Reserved&nbsp;<a href="#">Terms of Use</a>&nbsp;and&nbsp;<a href="privacy-policy.html">Privacy Policy</a></p>
            </div>
            <div class="col-md-10 col-lg-7 col-xl-4 text-xl-right">
              <ul class="group-xs group-middle">
                <li><a class="icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-facebook" href="#"></a></li>
                <li><a class="icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-twitter" href="#"></a></li>
                <li><a class="icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-instagram" href="#"></a></li>
                <li><a class="icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-google" href="#"></a></li>
                <li><a class="icon icon-md-middle icon-circle icon-secondary-5-filled mdi mdi-linkedin" href="#"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>

    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body><!-- Google Tag Manager --><noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P9FT69"height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-P9FT69');</script><!-- End Google Tag Manager -->
</html>